<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <address class="modal-footer">
            <strong>Silex - Fase 4</strong><br>
            <p>Todos os direitos reservados - {{ ano }}</p>
        </address>
    </div>
</nav>
</body>
</html>