<div class="row clearfix">
    <nav class="navbar navbar-default" role="navigation">
        <div class="modal-footer">
            <address class="pull-right">
                <strong>Doctrine</strong><br>

                <p>Todos os direitos reservados - {{ ano }}</p>
            </address>
        </div>
    </nav>
</div>

</div>
</body>
</html>