<div class="row clearfix">
    <nav class="navbar navbar-default" role="navigation">
        <div class="modal-footer">
            <address class="pull-right">
                <strong>Doctrine</strong><br>

                <p>Todos os direitos reservados - {{ ano }}</p>
            </address>
        </div>
    </nav>
</div>

</div>
</body>
<script>
    jQuery('ul.nav li.dropdown').hover(function () {
        jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
    }, function () {
        jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
    });
</script>
</html>