{% include 'header.twig' %}
<h1>Página inicial</h1>

<pre>
    Usando o sistema:

    - Logar no sistema (login = user@email.com - senha = 12345)
    - Usar os menus disponíveis para acesso às funções
    - Usar os dados disponíveis em Ajuda / Sobre a Api para acessar a parte REST
</pre>

{% include 'footer.twig' %}