<div class="nav navbar-nav navbar-right">
    {% if logado %}
        <form id="form-login" class="navbar-form navbar-left" role="login" action="dologout" method="post">
            <div class="form-group">
                <button name="sair" type="submit" class="btn btn-default">Sair</button>
            </div>
        </form>
    {% else %}
        <form id="form-login" class="navbar-form navbar-left" role="login" action="dologin" method="post">
            <div class="form-group">
                <input name="login" type="text" class="form-control" placeholder="Login">
                <input name="senha" type="password" class="form-control" placeholder="Senha">
                <button name="entrar" type="submit" class="btn btn-default">Entrar</button>
            </div>
            {#<div class="text-right"><a>Novo por aqui?</a></div>#}
            {#<div class="text-right"><a>isquici a senha uai</a></div>#}
        </form>
    {% endif %}
</div>
