{% include 'header.twig' %}
<h1>Lista de Tags</h1>
<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
    </tr>

    {% for tag in tags %}
        <tr>
            <td>{{ tag.id }}</td>
            <td>{{ tag.tag }}</td>

        </tr>
    {% endfor %}
</table>
<br>
{% include 'footer.twig' %}