{% include 'header.twig' %}

<h1>Categoria</h1>
<h3>Falta informação para a remoção da categoria</h3>
<h4>{{ erros }}</h4>
<br>
<a href="{{ path() }}produto/editar">Voltar</a>
{% include 'footer.twig' %}